# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/loomi_client?schema=public"

# Application
NODE_ENV=development
PORT=3000
CORS_ORIGIN=*

# JWT
JWT_SECRET=1e29da3142a52df5fe017fcd3a69bc5cd231823d845bfbe0569ba4be0ef67b81
JWT_EXPIRES_IN=7d

# Redis
REDIS_URL=redis://localhost:6379

# API Documentation
API_DOCS_PATH=/api/docs
